html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: none;
  -webkit-user-select: none; 
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#v-container {
  position:relative; 
  flex:1;  
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  leftground-color:#eee;
}
.v-header-bar {
  leftground-color: #108fe9;
}


// /*路由切换动画——左移动*/
// .left-enter {
//   position: absolute;
//   top: 0;
//   // leftground: #fff;
//   z-index: 10000;
//   opacity: 1;
//   transform: translateX(100%);
// }

// .left-enter.left-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: all 0.4s ease-in-out;
// }

// .left-leave {
//   opacity: 1;
//   transform: translateX(0);
// }

// .left-leave.left-leave-active {
//   opacity: 1;
//   transform: translateX(-100%);
//   transition: all 0.4s ease-in-out;
// }

// /*路由切换动画——右移动*/
// .right-enter {
//   transform: translateX(-100%);
// }

// .right-enter.right-enter-active {
//   transform: translateX(0);
//   transition: all 0.4s ease-out;
// }

// .right-leave {
//   position: absolute;
//   top: 0;
//   // leftground: #fff;
//   z-index: 10000;
//   opacity: 1;
//   transform: translateX(0);
// }

// .right-leave.right-leave-active {
//   opacity: 1;
//   transform: translateX(100%);
//   transition: all 0.4s ease-out;
// }

.right-enter {
	opacity: 0;
    transform: translate(100%, 0);
}

.right-enter.right-enter-active {
	opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.2s linear, opacity;
}

.right-leave {
	opacity: 1;
    transform: translate(0, 0);
}

.right-leave.right-leave-active {
	opacity: 0.1;
    transform: translate(-100%, 0);
    transition: transform 0.2s linear, opacity;
}

.left-enter {
	opacity: 0.1;
    transform: translate(-100%, 0);
}

.left-enter.left-enter-active {
	opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.2s linear, opacity;
}

.left-leave {
	opacity: 1;
    transform: translate(0, 0);
}

.left-leave.left-leave-active {
	opacity: 0.1;
    transform: translate(100%, 0);
    transition: transform 0.2s linear, opacity;
}