html, body, #root {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: none;
  -webkit-user-select: none; 
}
#root {
    display: flex;
    height: 100%;
    flex-direction: column;
    .v-header {
      background-color: #108fe9;
    }
    .v-container {
      position:relative; 
      flex: 1;  
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      background-color:#eee;
    }
}

.right-enter {
	opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.right-enter.right-enter-active {
	opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.right-leave {
	opacity: 1;
    transform: translate3d(0, 0, 0);
}
.right-leave.right-leave-active {
	opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.left-enter {
	opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.left-enter.left-enter-active {
	opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.left-leave {
	opacity: 1;
    transform: translate3d(0, 0, 0);
}
.left-leave.left-leave-active {
	opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.animateList-enter {
    opacity: 0.1;
}
.animateList-enter.animateList-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.animateList-leave {
    opacity: 1;
}
.animateList-leave.animateList-leave-active {
    opacity: 0.1;
    transition: opacity 1s ease-in-out;
}

